[submodule "municipio_SP"]
	path = dados/municipio_SP
	url = git@github.com:covid19br/municipio_SP.git
    update = rebase
[submodule "estados_nordeste"]
	path = dados/estados_nordeste
	url = git@github.com:covid19br/estados_nordeste.git
    update = rebase
[submodule "dados/municipio_campinas"]
	path = dados/municipio_campinas
	url = git@github.com:covid19br/municipio_campinas.git
